/* TAILWIND */
@tailwind base;
@tailwind utilities;

/* FONTS */
@font-face {
	font-family: "04b_30";
	src: url("./assets/fonts/04b_30/04B_30__.TTF");
}
@font-face {
	font-family: "Doto";
	src: url("./assets/fonts/Doto/static/Doto-Bold.ttf");
}
@font-face {
	font-family: "Honk";
	src: url("./assets/fonts/Honk/static/Honk-Regular.ttf");
}
@font-face {
	font-family: "Modak";
	src: url("./assets/fonts/Modak/Modak-Regular.ttf");
}
@font-face {
	font-family: "Monofett";
	src: url("./assets/fonts/Monofett/Monofett-Regular.ttf");
}
@font-face {
	font-family: "Nabla";
	src: url("./assets/fonts/Nabla/static/Nabla-Regular.ttf");
}

/* GLOBAL */
:root {
	--orange: #ff6c11;
	--yellow: #f9c80e;
	--pink: #f6019d;
	--purple-accent: #791e94;
	--purple-dark: #261447;
	--blue: #2de2e6;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--purple-dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
